<%= simple_form_for(@city) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-input m-auto" data-controller="region">
    <%= f.input :name, label: "Name", input_html: {class: "m-auto"} %>
    <%= f.association :region, label: "Region" %>
    <button type="submit" class="btn">
      Save
    </button>
  </div>
<% end %>

